body {
  background-color: #eceff1;
}

.app {
  background-color: #eceff1;
  padding: 10px;
}

.app .header {
  text-align: center;
}

.app .content {
  padding: 0 5px;
}

.tree-select-wrapper {
    /*margin: 5px;*/
}

.label {
  margin: 10px 0 5px 0;
}
