.app {
  padding: 10px;

  .header {
    text-align: center;
  }

  .content {
    padding: 0 20px;
    display: flex;
    gap: 50px;

    .menu-container {
      flex: 1 1 300px;

      .menu {
        list-style: none;
        margin: 0;
        padding: 5px 0;

        .menu-item {
          margin: 10px 0;
          padding: 5px 0;
          border-radius: 10px;
          cursor: pointer;

          &:hover {
            background-color: #efefef;
          }

          span {
            padding: 0 10px;
          }

          &.selected {
            color: #12bef3;
          }
        }
      }
    }

    .page-container {
      flex: 1 1 100%;

      .page {

        &.big-data-page {
          .select-container {
            margin-bottom: 10px;
          }
        }

        .title {
          font-size: 18px;
          font-weight: 600;
          padding: 5px 0;
        }

        .paragraph {
          white-space: pre-line;
          padding: 5px 0;
          line-height: 1.5;
        }

        .basic-options {
          display: flex;
          flex-direction: column;
          gap: 10px;
          border: 1px solid gray;
          padding: 10px;
          margin-bottom: 20px;

          .delimiter {
            border-bottom: 1px solid gray;
          }
        }

        .select-container, .input-container {
          label {
            margin-right: 5px;
          }
        }

        .checkbox-container {
          label {
            margin-left: 5px;
          }
        }

        .code-container {
          padding: 10px;
          border-radius: 4px;
          margin: 15px 0;
          box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
          background: #fcfcfc;
          font-size: 12px;
          overflow-y: scroll;

          pre {
            margin: 0;

            code {
              line-height: 1;
            }
          }
        }

        .props-table {
          border-collapse: collapse;
          width: 100%;

          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            white-space: pre-line;
          }

          tr:nth-child(even) {
            background-color: #f3f3f3;
          }
        }

        .example-container {
          display: flex;
          gap: 30px;

          .code-container {
            max-height: 450px;
          }
        }

        .filter-btn {
          border: none;
          background-color: #d1f2fc;
          padding: 5px 10px;
          border-radius: 8px;
          outline: none;

          &:focus {
            background-color: #82eefe;
          }
        }

        .filter-example {
          margin-top: 15px;
          display: flex;
          gap: 15px;

          .rts-dropdown {
            width: 250px;
          }
        }
      }
    }
  }
}
