@mixin variables {
  --rtms-line-height: 1;
  --rtms-font-size: 16px;

  --rtms-field-line-height: var(--rtms-line-height);
  --rtms-field-font-size: var(--rtms-font-size);
  --rtms-dropdown-line-height: var(--rtms-line-height);
  --rtms-dropdown-font-size: var(--rtms-font-size);

  --rtms-disabled-color: #acacac;
  --rtms-disabled-background-color: #f5f5f5;
  --rtms-list-item-selected-background-color: transparent;

  --rtms-icon-base-color: #6c6c6c;
  --rtms-icon-base-width: 16px;
  --rtms-icon-base-height: 16px;

  --rtms-field-icon-width: var(--rtms-icon-base-width);
  --rtms-field-icon-height: var(--rtms-icon-base-height);
  --rtms-chip-clear-icon-width: var(--rtms-icon-base-width);
  --rtms-chip-clear-icon-height: var(--rtms-icon-base-height);

  --rtms-node-toggle-icon-width: var(--rtms-icon-base-width);
  --rtms-node-toggle-icon-height: var(--rtms-icon-base-height);

  --rtms-checkbox-width: var(--rtms-icon-base-width);
  --rtms-checkbox-height: var(--rtms-icon-base-height);

  --rtms-list-item-gap: 3px;
  --rtms-list-item-tb-padding: 2px;
  --rtms-list-item-lr-padding: 5px;
}