@mixin dropdown-styles {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .rtms-dropdown {
    position: absolute;
    width: 100%;
    z-index: 1;
    line-height: var(--rtms-dropdown-line-height);
    font-size: var(--rtms-dropdown-font-size);
    margin-top: 7px;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    animation: fadeIn 0.1s forwards;

    &.disabled {
      background-color: var(--rtms-disabled-background-color);

      .rtms-sticky-item, .rtms-list-item, .rtms-footer {
        background-color: var(--rtms-disabled-background-color);
      }
    }

    .rtms-dropdown-list-outer {
      border-radius: 4px;
    }

    .rtms-list-item, .rtms-sticky-item {
      display: flex;
      align-items: center;
      padding-top: var(--rtms-list-item-tb-padding);
      padding-bottom: var(--rtms-list-item-tb-padding);
      outline: none;
      color: #212529;
      cursor: pointer;
      gap: var(--rtms-list-item-gap);
    }

    .rtms-list-item {
      background-color: #ffffff;
      padding-left: calc(
              ((var(--rtms-checkbox-width) + var(--rtms-list-item-gap)) * var(--rtms-list-item-depth, 0))
              + ((var(--rtms-node-toggle-icon-width) + var(--rtms-list-item-gap)) * var(--rtms-list-item-indentation))
              + var(--rtms-list-item-lr-padding)
      );
      padding-right: var(--rtms-list-item-lr-padding);

      &.selected {
        background-color: var(--rtms-list-item-selected-background-color);
      }

      &.focused, &:hover {
        background-color: #ebebeb;
      }

      &.matched .rtms-label {
        background-color: #ffffb0b0;
      }

      &.disabled .rtms-label {
        color: var(--rtms-disabled-color);
      }

      .rtms-node-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .rtms-node-toggle-icon {
          width: var(--rtms-node-toggle-icon-width);
          height: var(--rtms-node-toggle-icon-height);

          path {
            fill: var(--rtms-icon-base-color);
          }
        }
      }

      .rtms-node-checkbox {
        display: flex;
        align-items: center;
      }
    }

    .rtms-sticky-item {
      background-color: #ffffff;
      padding-left: var(--rtms-list-item-lr-padding);
      padding-right: var(--rtms-list-item-lr-padding);

      &.focused:not(:has(.rtms-input-container)), &:hover:not(:has(.rtms-input-container)) {
        background-color: #ebebeb;
      }

      .rtms-select-all-checkbox {
        display: flex;
        align-items: center;
      }
    }

    .rtms-footer {
      padding: var(--rtms-list-item-tb-padding) var(--rtms-list-item-lr-padding);
      outline: none;

      &.focused, &:hover {
        background-color: #ebebeb;
      }
    }

    .rtms-no-data {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--rtms-list-item-tb-padding) var(--rtms-list-item-lr-padding);
      outline: none;
    }
  }
}