@mixin field-styles {
  .rtms-field {
    line-height: var(--rtms-field-line-height);
    font-size: var(--rtms-field-font-size);

    &:has(> .rtms-field-content, > .rtms-actions) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-height: 34px;
      padding: 2px;
      font-weight: 400;
      outline: none;
      color: #212529;
      background-color: #ffffff;
      border: 1px solid #ced4da;
      border-radius: 4px;
      box-sizing: border-box;

      &.disabled {
        background-color: var(--rtms-disabled-background-color);
      }
    }

    .rtms-field-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex: 1;
    }

    .rtms-actions {
      display: flex;
      align-items: center;
      justify-content: center;

      .rtms-field-clear, .rtms-field-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 4px;

        &.disabled {
          path {
            fill: var(--rtms-disabled-color);
          }
        }
      }

      .rtms-field-clear {
        &.focused, &:hover {
          path {
            fill: #ff3b3b;
          }
        }
      }

      .rtms-field-clear-icon, .rtms-field-toggle-icon {
        width: var(--rtms-field-icon-width);
        height: var(--rtms-field-icon-height);

        path {
          fill: var(--rtms-icon-base-color);
        }
      }
    }
  }
}