@mixin input-styles {
  .rtms-input-container {
    display: flex;
    flex: 1;
    align-items: center;
    background-color: var(--rtms-input-container-background-color-default);
    border: 2px solid var(--rtms-input-container-border-color-default);
    border-radius: 4px;
  }

  .rtms-input {
    flex: 1;
    min-height: 24px;
    margin: 0;
    padding: 0 2px;
    border: none;
    outline: none;

    &:disabled {
      background-color: var(--rtms-input-background-color-disabled);
    }
  }

  .rtms-input-hidden {
    width: 0;
    height: 0;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
  }
}
