& {
  --rts-disabled-color: #acacac;
  --rts-list-item-selected-background-color: transparent;

  --rts-icon-base-color: #6c6c6c;
  --rts-icon-base-width: 16px;
  --rts-icon-base-height: 16px;

  --rts-field-icon-width: var(--rts-icon-base-width);
  --rts-field-icon-height: var(--rts-icon-base-height);
  --rts-chip-clear-icon-width: var(--rts-icon-base-width);
  --rts-chip-clear-icon-height: var(--rts-icon-base-height);

  --rts-checkbox-width: 16px;
  --rts-checkbox-height: 16px;

  --rts-list-items-gap: 3px;
  --rts-row-base-padding: 5px;
}