& {
  --rtms-disabled-color: #acacac;
  --rtms-disabled-background-color: #f5f5f5;
  --rtms-list-item-selected-background-color: transparent;

  --rtms-icon-base-color: #6c6c6c;
  --rtms-icon-base-width: 16px;
  --rtms-icon-base-height: 16px;

  --rtms-field-icon-width: var(--rtms-icon-base-width);
  --rtms-field-icon-height: var(--rtms-icon-base-height);
  --rtms-chip-clear-icon-width: var(--rtms-icon-base-width);
  --rtms-chip-clear-icon-height: var(--rtms-icon-base-height);

  --rtms-checkbox-width: 16px;
  --rtms-checkbox-height: 16px;

  --rtms-list-items-gap: 3px;
  --rtms-row-base-padding: 5px;
}