.rts-field {
  &:has(> .rts-field-content, > .rts-actions) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 2px;
    font-weight: 400;
    line-height: 1;
    outline: none;
    color: #212529;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .rts-field-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
  }

  .rts-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    .rts-field-clear, .rts-field-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 4px;
    }

    .rts-field-clear {
      &.focused, &:hover {
        path {
          fill: #ff3b3b;
        }
      }
    }

    .rts-field-clear-icon, .rts-field-toggle-icon {
      width: var(--rts-field-icon-width);
      height: var(--rts-field-icon-height);

      path {
        fill: var(--rts-icon-base-color);
      }
    }
  }
}