/* ==========================================================================
TreeMultiSelect styles
========================================================================== */

@use 'css-variables' as css-variables;
@use 'chip' as chip;
@use 'input' as input;
@use 'checkbox' as checkbox;
@use 'field' as field;
@use 'dropdown' as dropdown;

.rtms-tree-multi-select {
  @include css-variables.variables;

  &.disabled {
    pointer-events: none;
  }

  &.rtms-multi-select-type, &.rtms-select-type {
    --rtms-list-item-selected-background-color: #e7f3fc;
  }

  &:focus-within {
    .rtms-field {
      &:has(> .rtms-field-content, > .rtms-actions) {
        border-color: #92bcff;
        box-shadow: 0 0 3px 0 #016aff;
      }
    }
  }

  position: relative;

  @include chip.chip-styles;
  @include input.input-styles;
  @include checkbox.checkbox-styles;
  @include field.field-styles;
  @include dropdown.dropdown-styles;
}
