/* ==========================================================================
TreeMultiSelect styles
========================================================================== */

.rtms-tree-multi-select {
  @import 'css-variables';

  &.disabled {
    pointer-events: none;
  }

  &.rtms-multi-select-type, &.rtms-select-type {
    --rtms-list-item-selected-background-color: #e7f3fc;
  }

  &:focus-within {
    .rtms-field {
      &:has(> .rtms-field-content, > .rtms-actions) {
        border-color: #92bcff;
        box-shadow: 0 0 3px 0 #016aff;
      }
    }
  }

  position: relative;

  @for $i from 0 through 100 {
    .pl-#{$i} {
      padding-left: calc((var(--rtms-checkbox-width) + var(--rtms-list-items-gap)) * $i + var(--rtms-row-base-padding));
    }
  }

  @import 'chip';
  @import 'input';
  @import 'checkbox';
  @import 'field';
  @import 'dropdown';

  .rtms-label {
    line-height: 1;
    font-size: 16px;
  }
}
