@mixin checkbox-styles {
  .rtms-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: var(--rtms-checkbox-width);
    height: var(--rtms-checkbox-height);
    box-sizing: border-box;
    background-color: var(--rtms-checkbox-background-color);
    border: 1px solid var(--rtms-checkbox-border-color);
    border-radius: 3px;

    &:hover {
      background-color: var(--rtms-checkbox-background-color-hover);
    }

    &.selected {
      background-color: var(--rtms-checkbox-background-color-selected);
      border: none;

      &:hover {
        background-color: var(--rtms-checkbox-background-color-selected-hover)
      }

      path {
        fill: var(--rtms-checkbox-icon-color-selected);
      }
    }

    &.partial {
      path {
        fill: var(--rtms-checkbox-icon-color);
      }
    }

    &.disabled {
      opacity: 0.4;
    }
  }
}
