@mixin chip-styles {
  .rtms-chip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 2px;
    padding: 2px 6px;
    background-color: var(--rtms-chip-background-color-default);
    border-radius: 16px;
    cursor: default;

    &.focused {
      box-shadow: 0 0 5px 1px var(--rtms-chip-box-shadow-color-focus);
    }

    &:hover {
      box-shadow: 0 0 5px 1px var(--rtms-chip-box-shadow-color-hover);
    }

    &.focused {
      .rtms-chip-clear {
        color: var(--rtms-chip-clear-color-focus);

        path {
          fill: var(--rtms-chip-clear-color-focus);
        }
      }
    }

    &.disabled {
      color: var(--rtms-chip-color-disabled);
    }

    .rtms-chip-clear {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      path {
        fill: var(--rtms-icon-base-color);
      }

      &:hover {
        color: var(--rtms-chip-clear-color-hover);

        path {
          fill: var(--rtms-chip-clear-color-hover);
        }
      }

      .rtms-chip-clear-icon {
        width: var(--rtms-chip-clear-icon-width);
        height: var(--rtms-chip-clear-icon-height);
      }
    }
  }
}
