@mixin variables {
  /* ========================================================
    CSS variable templates:
      Core: --{namespace}-{property}-{state?}
      Elements: --{namespace}-{element}-{property}-{state?}
  ======================================================== */

  // Core
  --rtms-font-size: 16px;

  --rtms-icon-width: 16px;
  --rtms-icon-height: 16px;

  // Colors
  --rtms-border-color: #ced4da;
  --rtms-border-color-focus: #92bcff;

  --rtms-color: #000000;
  --rtms-color-disabled: #c2c2c2;
  --rtms-color-error: #ff3b3b;

  --rtms-background-color: #ffffff;
  --rtms-background-color-focus: #ebebeb;
  --rtms-background-color-hover: #ebebeb;
  --rtms-background-color-disabled: #f5f5f5;

  --rtms-icon-color: #6c6c6c;

  // Field
  --rtms-field-border-color: var(--rtms-border-color);
  --rtms-field-border-color-focus: var(--rtms-border-color-focus);
  --rtms-field-box-shadow-color-focus: #016aff;
  --rtms-field-background-color: var(--rtms-background-color);
  --rtms-field-background-color-disabled: var(--rtms-background-color-disabled);
  --rtms-field-color: var(--rtms-color);
  --rtms-field-font-size: var(--rtms-font-size);

  // Chip
  --rtms-chip-background-color: #ebebeb;
  --rtms-chip-box-shadow-color-focus: #a1a1a1;
  --rtms-chip-box-shadow-color-hover: #a1a1a1;
  --rtms-chip-color-disabled: var(--rtms-color-disabled);

  // ChipClear
  --rtms-chip-clear-color-focus: var(--rtms-color-error);
  --rtms-chip-clear-color-hover: var(--rtms-color-error);
  --rtms-chip-clear-icon-width: var(--rtms-icon-width);
  --rtms-chip-clear-icon-height: var(--rtms-icon-height);
  --rtms-chip-clear-icon-color: var(--rtms-icon-color);

  // Input
  --rtms-input-container-border-color: var(--rtms-border-color);
  --rtms-input-container-border-color-focus: var(--rtms-border-color-focus);
  --rtms-input-container-background-color: var(--rtms-background-color);
  --rtms-input-background-color-disabled: var(--rtms-background-color-disabled);

  // FieldClear
  --rtms-field-clear-color-focus: var(--rtms-color-error);
  --rtms-field-clear-color-hover: var(--rtms-color-error);
  --rtms-field-clear-color-disabled: var(--rtms-color-disabled);
  --rtms-field-clear-icon-width: var(--rtms-icon-width);
  --rtms-field-clear-icon-height: var(--rtms-icon-height);
  --rtms-field-clear-icon-color: var(--rtms-icon-color);

  // FieldToggle
  --rtms-field-toggle-color-disabled: var(--rtms-color-disabled);
  --rtms-field-toggle-icon-width: var(--rtms-icon-width);
  --rtms-field-toggle-icon-height: var(--rtms-icon-height);
  --rtms-field-toggle-icon-color: var(--rtms-icon-color);

  // Dropdown
  --rtms-dropdown-border-color: var(--rtms-border-color);
  --rtms-dropdown-background-color: var(--rtms-background-color);
  --rtms-dropdown-background-color-disabled: var(--rtms-background-color-disabled);
  --rtms-dropdown-font-size: var(--rtms-font-size);

  // StickyItem
  --rtms-sticky-item-background-color: var(--rtms-background-color);
  --rtms-sticky-item-background-color-focus: var(--rtms-background-color-focus);
  --rtms-sticky-item-background-color-hover: var(--rtms-background-color-hover);
  --rtms-sticky-item-background-color-disabled: var(--rtms-background-color-disabled);
  --rtms-sticky-item-color: var(--rtms-color);

  // SelectAllCheckbox
  --rtms-select-all-checkbox-width: var(--rtms-icon-width);
  --rtms-select-all-checkbox-height: var(--rtms-icon-height);

  // ListItem
  --rtms-list-item-gap: 3px;
  --rtms-list-item-padding-tb: 2px;
  --rtms-list-item-padding-lr: 5px;
  --rtms-list-item-background-color: var(--rtms-background-color);
  --rtms-list-item-background-color-focus: var(--rtms-background-color-focus);
  --rtms-list-item-background-color-focus-selected: var(--rtms-background-color-focus);
  --rtms-list-item-background-color-hover: var(--rtms-background-color-hover);
  --rtms-list-item-background-color-selected: unset;
  --rtms-list-item-background-color-disabled: var(--rtms-background-color-disabled);
  --rtms-list-item-background-color-matched: #ffffb0b0;
  --rtms-list-item-color: var(--rtms-color);
  --rtms-list-item-color-focus-selected: var(--rtms-color);
  --rtms-list-item-color-disabled: var(--rtms-color-disabled);

  // NodeToggle
  --rtms-node-toggle-width: var(--rtms-icon-width);
  --rtms-node-toggle-height: var(--rtms-icon-height);
  --rtms-node-toggle-icon-width: var(--rtms-icon-width);
  --rtms-node-toggle-icon-height: var(--rtms-icon-height);
  --rtms-node-toggle-icon-color: var(--rtms-icon-color);

  // NodeCheckbox
  --rtms-node-checkbox-width: var(--rtms-icon-width);
  --rtms-node-checkbox-height: var(--rtms-icon-height);

  // Checkbox
  --rtms-checkbox-width: var(--rtms-icon-width);
  --rtms-checkbox-height: var(--rtms-icon-height);
  --rtms-checkbox-border-color: #b3b3b3;
  --rtms-checkbox-background-color: var(--rtms-background-color);
  --rtms-checkbox-background-color-hover: #f1f1f1;
  --rtms-checkbox-background-color-selected: #0784e7;
  --rtms-checkbox-background-color-selected-hover: #0a6bb8;
  --rtms-checkbox-icon-color: var(--rtms-icon-color);
  --rtms-checkbox-icon-color-selected: #ffffff;

  // Spinner
  --rtms-spinner-container-width: var(--rtms-icon-width);
  --rtms-spinner-container-height: var(--rtms-icon-height);
  --rtms-spinner-width: var(--rtms-icon-width);
  --rtms-spinner-height: var(--rtms-icon-height);
  --rtms-spinner-border-color: var(--rtms-border-color);
  --rtms-spinner-border-color-accent: #212529;

  // Footer
  --rtms-footer-background-color: var(--rtms-background-color);
  --rtms-footer-background-color-focus: var(--rtms-background-color-focus);
  --rtms-footer-background-color-hover: var(--rtms-background-color-hover);
  --rtms-footer-background-color-disabled: var(--rtms-background-color-disabled);
  --rtms-footer-color: var(--rtms-color);
}
