@mixin dropdown-styles {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .rtms-dropdown {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    font-size: var(--rtms-dropdown-font-size);
    margin-top: 7px;
    background-color: var(--rtms-dropdown-background-color);
    border: 1px solid var(--rtms-dropdown-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    animation: fadeIn 0.1s forwards;

    &.disabled {
      background-color: var(--rtms-dropdown-background-color-disabled);

      .rtms-sticky-item {
        background-color: var(--rtms-sticky-item-background-color-disabled);
      }

      .rtms-list-item {
        background-color: var(--rtms-list-item-background-color-disabled);
      }

      .rtms-footer {
        background-color: var(--rtms-footer-background-color-disabled);
      }
    }

    .rtms-top-item {
      display: flex;
      align-items: center;
      padding: var(--rtms-list-item-padding-tb) var(--rtms-list-item-padding-lr);
    }

    .rtms-list-outer {
      width: 100%;
      flex: 1 1 auto;
      overflow-y: auto;
      border-radius: 4px;
    }

    .rtms-list-inner {
      position: relative;
    }

    .rtms-list-item-container {
      width: 100%;
    }

    .rtms-list-item, .rtms-sticky-item {
      display: flex;
      align-items: center;
      padding-top: var(--rtms-list-item-padding-tb);
      padding-bottom: var(--rtms-list-item-padding-tb);
      outline: none;
      cursor: pointer;
      gap: var(--rtms-list-item-gap);
    }

    .rtms-list-item {
      color: var(--rtms-list-item-color);
      background-color: var(--rtms-list-item-background-color);
      padding-left: calc(
              ((var(--rtms-checkbox-width) + var(--rtms-list-item-gap)) * var(--rtms-list-item-depth, 0))
              + ((var(--rtms-node-toggle-icon-width) + var(--rtms-list-item-gap)) * var(--rtms-list-item-indentation))
              + var(--rtms-list-item-padding-lr)
      );
      padding-right: var(--rtms-list-item-padding-lr);

      &.selected {
        background-color: var(--rtms-list-item-background-color-selected);
      }

      &.focused {
        background-color: var(--rtms-list-item-background-color-focus);
      }

      &.focused.selected {
        background-color: var(--rtms-list-item-background-color-focus-selected);
        color: var(--rtms-list-item-color-focus-selected);
      }

      &:hover {
        background-color: var(--rtms-list-item-background-color-hover);
      }

      &.matched .rtms-label {
        background-color: var(--rtms-list-item-background-color-matched);
      }

      &.disabled .rtms-label {
        color: var(--rtms-list-item-color-disabled);
      }

      .rtms-node-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: var(--rtms-node-toggle-width);
        height: var(--rtms-node-toggle-height);

        .rtms-node-toggle-icon {
          width: var(--rtms-node-toggle-icon-width);
          height: var(--rtms-node-toggle-icon-height);

          path {
            fill: var(--rtms-icon-color);
          }
        }
      }

      .rtms-node-checkbox {
        display: flex;
        align-items: center;
        width: var(--rtms-node-checkbox-width);
        height: var(--rtms-node-checkbox-height);
      }
    }

    .rtms-sticky-item {
      color: var(--rtms-sticky-item-color);
      background-color: var(--rtms-sticky-item-background-color);
      padding-left: var(--rtms-list-item-padding-lr);
      padding-right: var(--rtms-list-item-padding-lr);

      &.focused {
        background-color: var(--rtms-sticky-item-background-color-focus);
      }

      &:hover {
        background-color: var(--rtms-sticky-item-background-color-hover);
      }

      .rtms-select-all-checkbox {
        display: flex;
        align-items: center;
      }
    }

    .rtms-footer {
      color: var(--rtms-footer-color);
      background-color: var(--rtms-footer-background-color);
      padding: var(--rtms-list-item-padding-tb) var(--rtms-list-item-padding-lr);
      outline: none;

      &.focused {
        background-color: var(--rtms-footer-background-color-focus);
      }

      &:hover {
        background-color: var(--rtms-footer-background-color-hover);
      }
    }

    .rtms-no-data {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--rtms-list-item-padding-tb) var(--rtms-list-item-padding-lr);
      outline: none;
    }
  }
}