@mixin field-styles {
  .rtms-field {
    font-size: var(--rtms-field-font-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 34px;
    padding: 2px;
    font-weight: 400;
    outline: none;
    color: var(--rtms-field-color);
    background-color: var(--rtms-field-background-color);
    border: 1px solid var(--rtms-field-border-color);
    border-radius: 4px;
    box-sizing: border-box;

    &.disabled {
      background-color: var(--rtms-field-background-color-disabled);
    }

    .rtms-field-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex: 1;
    }

    .rtms-actions {
      display: flex;
      align-items: center;
      justify-content: center;

      .rtms-field-clear, .rtms-field-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 4px;
      }

      .rtms-field-clear {
        &.focused {
          path {
            fill: var(--rtms-field-clear-color-focus);
          }
        }

        &:hover {
          path {
            fill: var(--rtms-field-clear-color-hover);
          }
        }

        &.disabled {
          path {
            fill: var(--rtms-field-clear-color-disabled);
          }
        }
      }

      .rtms-field-toggle {
        &.disabled {
          path {
            fill: var(--rtms-field-toggle-color-disabled);
          }
        }
      }

      .rtms-field-clear-icon {
        width: var(--rtms-field-clear-icon-width);
        height: var(--rtms-field-clear-icon-height);

        path {
          fill: var(--rtms-icon-color);
        }
      }

      .rtms-field-toggle-icon {
        width: var(--rtms-field-toggle-icon-width);
        height: var(--rtms-field-toggle-icon-height);

        path {
          fill: var(--rtms-icon-color);
        }
      }
    }
  }
}