/* ==========================================================================
TreeMultiSelect styles
========================================================================== */

@use 'css-variables' as css-variables;
@use 'chip' as chip;
@use 'input' as input;
@use 'checkbox' as checkbox;
@use 'field' as field;
@use 'dropdown' as dropdown;
@use 'spinner' as spinner;

.rtms-tree-multi-select {
  @include css-variables.variables;

  &.disabled {
    pointer-events: none;
  }

  &[data-rtms-type="multi-select"], &[data-rtms-type="select"] {
    --rtms-list-item-background-color-selected: #d5e7ff;
    --rtms-list-item-background-color-focus-selected: #408fff;
    --rtms-list-item-color-focus-selected: #ffffff;
  }

  &:focus-within {
    .rtms-field {
      border-color: var(--rtms-field-border-color-focus);
      box-shadow: 0 0 3px 0 var(--rtms-field-box-shadow-color-focus);
    }

    .rtms-input-container {
      border-color: var(--rtms-input-container-border-color-focus);
    }
  }

  position: relative;

  @include chip.chip-styles;
  @include input.input-styles;
  @include checkbox.checkbox-styles;
  @include field.field-styles;
  @include dropdown.dropdown-styles;
  @include spinner.spinner-styles;
}
