body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:has(.overlay) {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn {
  background: none;
  margin: 0;
  outline: none;
  padding: 2px 5px;
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #efefef;
  }

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 3px 0 #12bef3;
  }
}

.overlay {
  position: fixed;
  z-index: 998;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100%;
  z-index: 999;
  padding: 1rem;
  background: #ffffff;
  transition: left 0.3s ease;

  &.open {
    left: 0;
  }

  .overlay-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;

    h4 {
      padding: 0 10px;
    }

    .close-btn {
      border: none;
    }
  }

  .menu-container {
    margin: 0;

    .menu-navigation {
      padding: 0;
    }
  }
}

.menu-container {
  margin-top: -70px;

  .menu-navigation {
    position: sticky;
    top: 0;
    padding: 70px 0 0;

    .menu {
      height: calc(100vh - 140px);
      overflow-y: auto;
    }

    .menu-item {
      margin: 10px 0;
      border-radius: 10px;
      cursor: pointer;
      opacity: 0.75;

      &:hover {
        background-color: #efefef;
      }

      a {
        display: block;
        color: inherit;
        padding: 5px 10px;
        text-decoration: none;
      }

      &.selected {
        color: #12bef3;
      }
    }
  }
}

.app {
  .link {
    text-decoration: none;
    color: #12bef3;
  }

  .menu-navigation, .toc {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .header {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 5px 7px 0 rgba(212, 212, 212, 0.75);

    .menu-btn {
      padding: 10px;
      display: none;
      border: none;
    }

    .header-title {
      flex: 1;
      text-align: center;
      margin: 10px 0;
    }
  }

  .content {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    padding: 70px 20px 0;
    min-height: calc(100vh - 140px);

    [id^="nav-"] {
      scroll-margin-top: 70px;
    }

    .page-content {
      padding: 0 10px 10px;
      overflow-x: clip;
      margin-bottom: 250px;

      &.api-page {
        margin-bottom: 0;

        .code-container {
          max-height: unset;
        }
      }

      .title {
        margin: 10px 0;
      }

      :not(pre) > code {
        background-color: #f2f2f2;
        padding: 1px 3px;
        border-radius: 4px;
      }

      .field-virtual-focusable {
        padding: 4px 6px;
        background-color: #ebebeb;
        cursor: default;

        &:hover, &.focused {
          box-shadow: 0 0 5px 1px #a1a1a1;
        }
      }

      .paragraph {
        white-space: pre-line;
        padding: 5px 0;
      }

      .alert {
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        padding: 5px 10px;
        line-height: 1.5;
        border: 1px solid lightgray;
        border-radius: 4px;

        &.important {
          background-color: lightyellow;
        }

        &.note {
          background-color: #effcff;
        }
      }

      .basic-options {
        border: 1px solid gray;
        padding: 5px;
        margin-bottom: 20px;
      }

      .config-container, .select-container, .input-container, .checkbox-container {
        padding: 5px;
      }

      .select-container, .input-container {
        label {
          margin-right: 5px;
        }
      }

      .checkbox-container {
        label {
          margin-left: 5px;
        }
      }

      .demo-container {
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        gap: 10px;

        .demo-header {
          display: flex;
          justify-content: space-between;

          .demo-title {
            font-weight: 600;
          }

          button {
            color: #12bef3;
            margin-left: auto;
            padding: 1px 5px;
            border-radius: 10px;
          }
        }

        .code-container {
          margin: 0;
        }
      }

      .code-container {
        padding: 10px;
        border-radius: 4px;
        margin: 15px 0;
        box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
        background: #fcfcfc;
        font-size: 12px;
        overflow-y: auto;
        max-height: 450px;

        pre {
          margin: 0;

          code {
            line-height: 1;
          }
        }
      }

      .controlled-example {
        button {
          margin-bottom: 10px;
        }
      }

      .large-data-example {
        .select-container {
          margin-bottom: 10px;
        }
      }

      .non-virtualized-example {
        .rtms-dropdown {
          width: auto;
        }
      }

      .field-example {
        display: flex;
        gap: 15px;

        .btn {
          &:focus {
            box-shadow: none;
          }
        }

        .filter-btn {
          padding: 5px 10px;
          border-color: transparent;
        }

        .rtms-field {
          min-height: unset;
          padding: unset;
        }

        .rtms-dropdown {
          width: auto;

          .rtms-list-item {
            min-width: 170px;
          }
        }
      }

      .input-example {
        display: flex;
        gap: 15px;

        .rtms-tree-multi-select {
          width: 100%;
        }
      }
    }

    .toc-container {
      margin-top: -70px;

      .toc {
        position: sticky;
        top: 0;
        padding: 70px 0 0;

        .navigation {
          height: calc(100vh - 140px);
          overflow-y: auto;
          font-size: 14px;

          .navigation-item {
            margin: 5px 70px;
            cursor: pointer;
            opacity: 0.75;

            &:first-child {
              margin-top: 15px;
            }

            &:last-child {
              margin-bottom: 15px;
            }

            &:hover {
              color: #12bef3;
            }

            .nav-link {
              display: block;
              padding: 2px 0;
              text-decoration: none;
              color: inherit;

              &.active {
                color: #12bef3;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0px -5px 7px 0px rgba(212, 212, 212, 0.75);

    span {
      padding: 5px;
    }
  }
}

@media (max-width: 480px) {
  .app {
    .header {
      .header-title {
        font-size: 1.5em;
      }
    }
  }
}

@media (max-width: 768px) {
  .app {
    .header {
      .menu-btn {
        display: block;
      }
    }

    .content {
      display: block;

      .menu-container {
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {
  .app {
    .content {
      grid-template-columns: 20% 80% 0;

      .toc {
        display: none;
      }
    }
  }
}
