.rts-dropdown {
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-top: 7px;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;

  .rts-list-item, .rts-header-item {
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    outline: none;
    color: #212529;
  }

  .rts-list-item {
    background-color: #ffffff;
    padding-right: $row-base-padding;

    &.selected {
      background-color: var(--rts-list-item-selected-background-color);
    }

    &.focused, &:hover {
      background-color: #ebebeb;
    }

    &.matched .rts-label {
      background-color: #ffffb0b0;
    }

    &.disabled .rts-node {
      color: var(--rts-disabled-color);
      cursor: not-allowed;
    }

    .rts-node-expand {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin-right: $checkbox-margin-right;

      &.expanded {
        transform: rotate(90deg);
      }

      .rts-node-expand-icon {
        width: $checkbox-width;
        height: $checkbox-height;
        opacity: 0.5;
      }
    }

    .rts-node {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .rts-header-item {
    background-color: #ffffff;
    border-bottom: 1px solid #ced4da;
    padding-left: $row-base-padding;
    padding-right: $row-base-padding;

    &.focused, &:hover {
      background-color: #ebebeb;
    }

    .rts-select-all {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  .rts-no-matches {
    display: flex;
    align-items: center;
    padding: 10px;
    outline: none;
  }
}