.rts-field {
  &:not(.rts-field-custom) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 2px;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &.focused {
    &:not(.rts-field-custom) {
      border-color: #92bcff;
      box-shadow: 0 0 3px 0 #016aff;
    }
  }

  .rts-field-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
  }

  .rts-actions {
    display: flex;
    align-items: center;
    justify-content: center;

    .rts-field-clear, .rts-field-expand {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 4px;
    }

    .rts-field-clear {
      &.focused, &:hover {
        path {
          fill: #ff3b3b;
        }
      }
    }

    .rts-field-expand {
      &.expanded {
        transform: rotate(180deg);
      }
    }

    .rts-field-clear-icon, .rts-field-expand-icon {
      width: var(--rts-field-icon-width);
      height: var(--rts-field-icon-height);

      path {
        fill: var(--rts-icon-base-color);
      }
    }
  }
}