/* ==========================================================================
TreeSelect styles
========================================================================== */

.rts-tree-select {
  @import 'css-variables';

  &.rts-multi-select, &.rts-select {
    --rts-list-item-selected-background-color: #e7f3fc;
  }

  &:focus-within {
    .rts-field {
      &:not(.rts-field-custom) {
        border-color: #92bcff;
        box-shadow: 0 0 3px 0 #016aff;
      }
    }
  }

  position: relative;

  @for $i from 0 through 100 {
    .pl-#{$i} {
      padding-left: calc((var(--rts-checkbox-width) + var(--rts-checkbox-margin-right)) * $i + var(--rts-row-base-padding));
    }
  }

  @import 'chip';
  @import 'input';
  @import 'checkbox';
  @import 'field';
  @import 'dropdown';

  .rts-label {
    line-height: 1;
    font-size: 16px;
  }
}
