/* ==========================================================================
TreeSelect styles
========================================================================== */
@import 'variables';

.rts-tree-select {
  position: relative;

  &.simple-select {
    .pl-1 {
      padding-left: $row-base-padding;
    }
  }

  @for $i from 0 through 100 {
    .pl-#{$i} {
      padding-left: calc($checkbox-padding-left-num * $i + $row-base-padding-num) + px;
    }
  }

  @import 'chip';
  @import 'input';
  @import 'checkbox';
  @import 'field';
  @import 'dropdown';

  .rts-label {
    line-height: 1;
    font-size: 16px;
  }
}
