$checkbox-width-num: 16;
$checkbox-width: $checkbox-width-num + px;

$checkbox-height-num: 16;
$checkbox-height: $checkbox-height-num + px;

$checkbox-margin-right-num: 3;
$checkbox-margin-right: $checkbox-margin-right-num + px;

$checkbox-padding-left-num: $checkbox-width-num + $checkbox-margin-right-num;

$row-base-padding-num: 5;
$row-base-padding: $row-base-padding-num + px;
