name: install-build-test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 20.x, 22.x, 24.x ]
        react-version: [ 17.0.2, 18.3.1, 19.2.1 ]

    defaults:
      run:
        working-directory: ./packages/react-tree-multi-select

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: packages/react-tree-multi-select/package-lock.json

      - run: npm ci

      - name: Install React ${{ matrix.react-version }}
        run: |
          npm install react@${{ matrix.react-version }} react-dom@${{ matrix.react-version }} --no-save

      - run: npm run build

      - name: Run tests with coverage
        run: npm test -- --coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/react-tree-multi-select/coverage
